.Profile {
    height: 100vh;
    background-color: white;
    width: 35%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    color: white;
}

.Profile hr {
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}

.Close .ProfileImage {
    display: none;
}
.ProfileImageContainer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.ProfileImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
}

.ProfileImage img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ProfileImage 0.6s;
}

.ProfileImage:hover .ChangeImage {
    display: flex;
}

.ChangeImage {
    display: none;
    position: absolute;
    top: 0;
    cursor: pointer;
    background-color: rgba(20, 20, 20, 0.7);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding: 20px;
    box-sizing: border-box;
}

.CameraIcon {
    text-align: center;
    font-size: 1.2em;
}

.ChangeImageText {
    font-size: 0.8em;
    width: 100px;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 7px;
}

@keyframes ProfileImage {
    0% {
      width: 70px;
      height: 70px;
    }

    25% {
        -webkit-box-shadow: 0px 0px 23px 3px #E5DDD5;
        -moz-box-shadow: 0px 0px 23px 3px #E5DDD5;
        box-shadow: 0px 0px 23px 3px #E5DDD5;
    }

    50% {
        -webkit-box-shadow: 0px 0px 73px 13px #E5DDD5;
        -moz-box-shadow: 0px 0px 73px 13px #E5DDD5;
        box-shadow: 0px 0px 73px 13px #E5DDD5;
    }

    75% {
        -webkit-box-shadow: 0px 0px 123px 23px #E5DDD5;
        -moz-box-shadow: 0px 0px 123px 23px #E5DDD5;
        box-shadow: 0px 0px 123px 23px #E5DDD5;
    }

    100% {
      width: 200px;
      height: 200px;
    }
  }

  .ProfileInfo {
    margin-top: 30px;
  }

  .Names {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      text-align: center;
  }

  .Label {
      color: #1ECD97;
      font-weight: 700;
      display: block;
      margin-bottom: 5px
  }
  .Name {
    font-weight: 800;
    font-size: 1.4em;
    display: block;
    color: #4e4e4e;
  }
  .Username {
      font-style: italic;
      font-weight: 600;
      color: #1ECD97;
  }

  .About, .SocialProfiles {
    text-align: center;
    font-weight: 800;
    color: #4e4e4e;
    margin-bottom: 20px;
  }

  .About h3, .SocialProfiles h3 {
      margin: 4px 0;
      text-align: center;
  }

  .About span {
      display: inline-block;
      text-align: left;
      margin-top: 10px;
      width: 90%;
  }

  .SocialIcons {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 30px;
  }
  
